<ul class="profile-nav hidden-xs hidden-sm" ng-show="authentication.user">
  <li class="dropdown" dropdown>
    <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
      <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
      <b class="caret"></b>
    </a>
    <ul ng-if="enablemenu" class="dropdown-menu" role="menu">
      <li ui-sref-active="active">
        <a ui-sref="settings.profile">Edit Profile</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="settings.picture">Change Profile Picture</a>
      </li>
      <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
        <a ui-sref="settings.password">Change Password</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="settings.accounts">Manage Social Accounts</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="/api/auth/signout" target="_self">Signout</a>
      </li>
    </ul>
  </li>
</ul>
